.description-contain {
  display: flex;
  justify-content: space-between;
  margin: 2vh 5vw 0 4.1vw;
}

.title-lodgment {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #ff6060;
  margin-bottom: 0.5vh;
}

.location {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
  margin-bottom: 1vh;
}

.part-right {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.host {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 15px;
  margin-bottom: 1.5vh;
}

.host-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
  text-align: right;
}

.host-picture {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 60px;
}

.tags {
  display: flex;
  gap: 10px;
}

.tag {
  background-color: #ff6060;
  width: 150px;
  height: 25px;
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.desc_equip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1vh 0 3vh 0;
  gap: 5%;
}

.desc_equip .collapse-contain {
  width: 39vw;
  margin-bottom: 4vh;
}

.desc_equip .desc-expanded,
.desc_equip .desc-contain {
  width: 43vw;
}

@media screen and (min-width: 375px) and (max-width: 1245px) {
  .description-contain {
    flex-direction: column;
  }
  .part-right {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .desc_equip {
    flex-direction: column;
    gap: 20px;
    margin-left: 5vw;
  }
  .desc_equip .collapse-contain {
    width: 85vw;
  }

  .desc_equip .desc-expanded,
  .desc_equip .desc-contain {
    width: 89vw;
  }

  .tag {
    font-size: 10px;
    margin-bottom: 2vh;
  }
  .collapse-contain h3 {
    font-size: 13px;
  }
  .collapse-contain {
    height: 0px;
    align-items: center;
  }
}

@media screen and (min-width: 375px) and (max-width: 800px) {
  .cover {
    height: 255px !important;
  }
}
