$header-margin-top: 5vh;
$header-margin-horizontal: 6vw;
$logo-color: #ff6060;
$nav-link-color: #ff6060;
$nav-link-active-border: solid 1px #ff6060;
$font-family: "Montserrat", sans-serif;

header {
  display: flex;
  justify-content: space-between;
  margin: $header-margin-top $header-margin-horizontal 0
    $header-margin-horizontal;
  align-items: center;

  .logo {
    color: $logo-color;
  }

  .nav-links {
    display: flex;
    gap: 50px;

    a {
      color: $nav-link-color;
      text-decoration: none;
      font-size: 24px;
      font-family: $font-family;
      font-weight: 500;

      &.active-link {
        text-decoration: $nav-link-active-border;
      }
    }

    @media screen and (min-width: 350px) and (max-width: 600px) {
      gap: calc(20px + (30 - 20) * ((100vw - 350px) / (600 - 350)));
    }
  }

  @media screen and (min-width: 350px) and (max-width: 600px) {
    svg {
      width: 145px;
      height: 47px;
    }

    .nav-links a {
      font-size: calc(12px + (20 - 12) * ((100vw - 350px) / (600 - 350)));
    }
  }
}
